<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
</head>
<body>
    <center>
        <form  method='POST'>
            {% csrf_token %}
            {% for key,value in form.errors.items %}
                {{value}}
            {% endfor %}
            <p><lable>Acount : </lable>{{form.username}}</p>  
            <p><lable>Password : </lable>{{form.password}}</p>          
            <input type='hidden' name='next' value='/home/long'/>
            <input type='submit' value='login'/>        
        </form>
    </center>
</body>
</html>